psycopg2
gunicorn
cchardet
python-memcached
awesome-slugify
regex
datadog
elasticsearch>=5.0.0,<6.0.0
flask>=0.12.0,<1.0.0
flask-cors>=3.0.0,<4.0.0
flask-jsonpify>=1.5.0,<2.0.0
sqlalchemy
six
raven==6.0.0
redis
os-api-cache>=0.0.7
#os-package-registry>=0.0.16
os-package-registry>=0.0.17a
babbage>=0.3.5
datapackage>=1.0.0,<2
tableschema>=1.0.0,<2
tableschema-sql>=0.10.0,<2
tabulator>=1.10.0,<2
blinker>=1.1
python-dotenv
