psycopg2
gunicorn
cchardet
python-memcached
awesome-slugify
regex
datadog
flask-cors
flask-jsonpify
sqlalchemy
six
raven==6.0.0
redis
os-api-cache>=0.0.2
babbage_fiscal>=0.0.10
babbage>=0.3.3
datapackage>=1.0.0,<2
tableschema>=1.0.0,<2
tableschema-sql>=0.9.0,<2
tabulator>=1.0.0,<2
blinker>=1.1
