psycopg2
gunicorn
cchardet
python-memcached
awesome-slugify
regex
datadog
flask-cors
flask-jsonpify
sqlalchemy
six
raven==6.0.0
redis
os-api-cache>=0.0.2
babbage_fiscal>=0.0.3
babbage>=0.2.1
datapackage>=0.8.6
jsontableschema>=0.8.5
jsontableschema-sql>=0.5.0
tabulator>=0.14.0
blinker>=1.1
